{% extends "core/base.html" %}

{% block title %}Orders History{% endblock %}

{% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.cdnfonts.com/css/segoe-ui-4" rel="stylesheet">
<div class="claim-box">
    <div class="table-container">
        <h2>История заявок</h2>
        <form method="get" action="{% url 'orders:order_history' %}" class="filter-form">
            <div class="form-group">
                <label for="urgency">Срочность:</label>
                <select name="urgency" id="urgency" class="form-select" onchange="this.form.submit()">
                    <option value="">Все</option>
                    <option value="urgent" {% if urgency == 'urgent' %}selected{% endif %}>Срочно</option>
                    <option value="not_urgent" {% if urgency == 'not_urgent' %}selected{% endif %}>Не срочно</option>
                    <option value="very_urgent" {% if urgency == 'very_urgent' %}selected{% endif %}>Очень срочно</option>
                </select>
            </div>
            <div class="form-group">
                <label for="status">Статус:</label>
                <select name="status" id="status" class="form-select" onchange="this.form.submit()">
                    <option value="">Все</option>
                    <option value="submitted" {% if status == 'submitted' %}selected{% endif %}>Отправлено</option>
                    <option value="accepted" {% if status == 'accepted' %}selected{% endif %}>Принято</option>
                    <option value="in_progress" {% if status == 'in_progress' %}selected{% endif %}>В процессе</option>
                    <option value="completed" {% if status == 'completed' %}selected{% endif %}>Завершено</option>
                </select>
            </div>
        </form>
        <div class="table-wrapper">
            <div class="row header-row">
                <div class="cell"><p>ID</p></div>
                <div class="cell"><p>Отправитель</p></div>
                <div class="cell"><p>Корпус</p></div>
                <div class="cell"><p>Дата создания</p></div>
                <div class="cell"><p>Тип проблемы</p></div>
                <div class="cell"><p>Срочность</p></div>
                <div class="cell"><p>Статус</p></div>
                <div class="cell"></div> <!-- Ensure this cell is present for alignment -->
            </div>
            {% for order in orders %}
            <div class="row">
                <div class="cell"><p>{{ order.id }}</p></div>
                <div class="cell"><p>{{ order.user.email }}</p></div>
                <div class="cell"><p>{{ order.get_building_display }}</p></div>
                <div class="cell"><p>{{ order.created_at|date:"d M Y" }}</p></div>
                <div class="cell"><p>{{ order.problem_type }}</p></div>
                <div class="cell"><p>{{ order.get_urgency_display }}</p></div>
                <div class="cell"><p>{{ order.get_status_display }}</p></div>
                <div class="cell"><a href="{% url 'orders:order_detail' order.id %}" class="details-button">Подробнее</a></div>
            </div>
            {% empty %}
            <div class="row">
                <div class="cell" colspan="8"><p>Нет записей</p></div>
            </div>
            {% endfor %}
        </div>
    <div class="submit-order-button">
    <a href="{% url 'orders:submit_order' %}" class="btn btn-primary">
        <i class="fas fa-plus"></i>
    </a>
</div>
    </div>

</div>

<style>
    .claim-box {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    .table-container {
        width: 95%;
        margin: auto;
        padding: 20px;
        background-color: #fafafa;
        border-radius: 10px;
        border: 1px solid #ddd;
    }

    .filter-form {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 2px solid #ddd;
        margin-bottom: 20px;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        width: 20%;
    }

    .form-select {
        padding: 8px;
        border-radius: 5px;
        border: 2px solid #B1040D;
        background-color: #fff;
    }

    .table-wrapper {
        overflow-x: auto;
    }

    .row.header-row, .row {
        display: flex;
        background-color: #fff;
        padding: 10px;
        align-items: center;
        border-bottom: 1px solid #ddd;
    }

    .row.header-row {
        background-color: #B1040D;
        color: #ffffff;
        font-weight: bold;
    }

    .cell {
        text-align: center;
        padding: 10px;
        border-right: 1px solid #ddd;
        flex-grow: 1;
        min-width: 100px;
    }

    .cell:last-child {
        border-right: none;
    }

    .cell:nth-child(1) { width: 5%; }
    .cell:nth-child(2) { width: 15%; }
    .cell:nth-child(3) { width: 10%; }
    .cell:nth-child(4) { width: 10%; }
    .cell:nth-child(5) { width: 20%; }
    .cell:nth-child(6) { width: 10%; }
    .cell:nth-child(7) { width: 10%; }
    .cell:nth-child(8) { width: 20%; }

    .details-button {
        padding: 8px 16px;
        background-color: #B1040D;
        color: white;
        text-decoration: none;
        border-radius: 4px;
        font-weight: bold;
    }

    .details-button:hover {
        background-color: #D1160C;
    }
    .submit-order-button .btn {
    margin-top: 20px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.submit-order-button .btn:hover {
    background-color: #45a049;
}
</style>
{% endblock %}
