{% extends "core/base.html" %}
{% load custom_filters %}

{% block title %}Order Details{% endblock %}

{% block content %}
{% load order_tags %}
<link href="https://fonts.cdnfonts.com/css/segoe-ui-4" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<div class="container mt-5">
    <div class="order-details-box p-5 rounded shadow">
        <h2 class="text-center mb-4">Детали заявки</h2>
        <div class="detail mb-3">
            <p class="detail-title">Отправитель:</p>
            <p class="detail-value">{{ order.user.username }}</p>
        </div>
        <div class="detail mb-3">
            <p class="detail-title">Здание:</p>
            <p class="detail-value">{{ order.get_building_display }}</p>
        </div>
        <div class="detail mb-3">
            <p class="detail-title">Дата создания:</p>
            <p class="detail-value">{{ order.created_at|date:"d M Y" }}</p>
        </div>
        <div class="detail mb-3">
            <p class="detail-title">Тип проблемы:</p>
            <p class="detail-value">{{ order.problem_type }}</p>
        </div>
        <div class="detail mb-3">
            <p class="detail-title">Описание:</p>
            <p class="detail-value">{{ order.description }}</p>
        </div>
        <div class="detail mb-3">
            <p class="detail-title">Срочность:</p>
            <p class="detail-value">{{ order.get_urgency_display }}</p>
        </div>
        {% if order.comments %}
        <div class="detail mb-3">
            <p class="detail-title">Комментарий:</p>
            <p class="detail-value">{{ order.comments }}</p>
        </div>
        {% endif %}
        <div class="detail mb-3">
            <p class="detail-title">Статус:</p>
            {% if can_modify_status %}
            <a href="#" class="btn btn-link p-0" data-toggle="modal" data-target="#statusModal">
                <button class="btn custom-button status-button">{{ order.get_status_display }} <i class="fas fa-edit"></i></button>
            </a>
            {% else %}
            <p class="detail-value accepted">{{ order.get_status_display }}</p>
            {% endif %}
        </div>
        <div class="detail mb-3">
            <p class="detail-title">Исполнитель:</p>
            {% if can_modify_executor %}
            <a href="#" class="btn btn-link p-0" data-toggle="modal" data-target="#executorModal">
                <button class="btn custom-button executor-button">{{ order.executor }} <i class="fas fa-user-edit"></i></button>
            </a>
            {% else %}
            <p class="detail-value">{{ order.executor }}</p>
            {% endif %}
        </div>
        {% if order.document %}
        <div class="detail mb-3">
            <p class="detail-title">Скачать документ:</p>
            <p class="detail-value"><a href="{{ order.document.url }}" download class="btn btn-download custom-button">Download Document</a></p>
        </div>
        {% endif %}
        <div class="text-center mt-4">
            <button class="btn btn-chat custom-button" type="button" data-toggle="collapse" data-target="#chatBox" aria-expanded="false" aria-controls="chatBox">
                ЧАТ
            </button>
        </div>
    </div>

    <div class="collapse mt-4" id="chatBox">
        <div class="chat-box p-4 rounded shadow">
            <h3 class="text-center mb-4" style="color: black;">ЧАТ</h3>
            <div class="chat-messages" id="chat-messages">
                {% for message in chat_messages %}
                <div class="chat-message mb-2">
                    <span class="message-user font-weight-bold">{{ message.user.username }}:</span>
                    <span class="message-text">{{ message.message }}</span>
                </div>
                {% endfor %}
            </div>
            <form id="chat-form" method="post" action="{% url 'orders:send_message' order.pk %}">
                {% csrf_token %}
                <div class="form-group">
                    <textarea name="message" id="chat-message" class="form-control" placeholder="Type a message"></textarea>
                </div>
                <button type="submit" class="btn btn-primary custom-button">Send</button>
            </form>
        </div>
    </div>
</div>

<!-- Modals -->
<div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="statusModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="statusModalLabel">Изменить статус</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" class="form-group">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_status">Изменить статус на:</label>
                        <select name="status" id="id_status" class="form-control" style="height: 3em">
                            {% for choice in form.fields.status.choices %}
                            <option value="{{ choice.0 }}" {% if order.status == choice.0 %}selected{% endif %}>
                                {{ choice.1 }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="id_comment">Комментарий:</label>
                        <textarea name="comment" id="id_comment" class="form-control">{% if form.fields.comment.value %}{{ form.fields.comment.value }}{% endif %}</textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary custom-button">Обновить Статус</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="executorModal" tabindex="-1" role="dialog" aria-labelledby="executorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="executorModalLabel">Переназначить исполнителя</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" class="form-group">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="executor">Выберите исполнителя:</label>
                        {{ reassignment_form.executor|add_class:"custom-select" }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary custom-button" data-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary custom-button">Переназначить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
    .order-details-box {
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        padding: 20px;
        margin: 20px 0;
    }

    .order-details-box h2 {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 20px;
        color: black;
    }

    .detail {
        display: flex;
        margin-bottom: 15px;
        font-size: 18px;
    }

    .detail-title {
        width: 200px;
        font-weight: bold;
        color: black;
    }

    .detail-value {
        flex: 1;
        color: #333;
    }

    .status.not-accepted {
        color: red;
    }

    .detail-value.accepted {
        color: rgb(9, 229, 53);
    }

    .btn-link {
        padding: 0;
        border: none;
        background: none;
        text-decoration: none;
    }

    .btn-link .btn {
        font-size: 16px;
    }

    .details-button {
        padding: 8px 16px;
        background-color: #B1040D;
        color: white;
        text-decoration: none;
        border-radius: 4px;
        font-weight: bold;
    }

    .details-button:hover {
        background-color: #D1160C;
    }

    .btn-chat {
        background-color: #B1040D;
        color: #fff;
        border: none;
        border-radius: 50px;
        padding: 10px 20px;
        font-size: 18px;
        font-weight: bold;
        transition: background 0.3s ease;
    }

    .btn-chat:hover {
        background-color: #D1160C;
    }

    .btn-download {
        background-color: #B1040D;
        color: #fff;
        border: none;
        border-radius: 50px;
        padding: 10px 20px;
        font-size: 18px;
        font-weight: bold;
        transition: background 0.3s ease;
    }

    .btn-download:hover {
        background-color: #D1160C;
    }

    .custom-button {
        font-size: 16px;
        padding: 10px 20px;
        border-radius: 50px;
        transition: all 0.3s ease;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;
    }

    .status-button {
        background-color: #B1040D;
        border: none;
        color: white;
    }

    .status-button:hover {
        background-color: #D1160C;
    }

    .executor-button {
        background-color: #B1040D;
        border: none;
        color: white;
    }

    .executor-button:hover {
        background-color: #D1160C;
    }

    .modal-content {
        background-color: #f8f9fa;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }

    .modal-header {
        border-bottom: none;
        position: relative;
    }

    .modal-title {
        color: #343a40;
        font-weight: bold;
        font-size: 24px;
    }

    .modal-header .close {
        position: absolute;
        top: 15px;
        right: 15px;
        color: #343a40;
        font-size: 30px;
    }

    .modal-body {
        padding: 20px;
    }

    .form-group label {
        font-weight: bold;
        color: #343a40;
    }

    .form-group select,
    .form-group textarea {
        border-radius: 8px;
        border: 1px solid #ced4da;
        padding: 10px;
    }

    .modal-footer {
        border-top: none;
        padding: 15px 20px;
    }

    .modal-footer .btn {
        border-radius: 20px;
        padding: 10px 20px;
    }

    .modal-footer .btn-secondary {
        background-color: #6c757d;
        border-color: #6c757d;
    }

    .modal-footer .btn-primary {
        background-color: #B1040D;
        border-color: #B1040D;
    }

    .chat-box {
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        padding: 20px;
        margin: 20px 0;
    }

    .chat-box h3 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
        color: #B1040D;
    }

    .chat-messages {
        height: 400px;
        overflow-y: scroll;
        border: 1px solid #ced4da;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 20px;
    }

    .chat-message {
        margin-bottom: 10px;
    }

    .chat-message .message-user {
        font-weight: bold;
        color: #343a40;
    }

    .chat-message .message-text {
        margin-left: 10px;
    }

    #chat-form textarea {
        border-radius: 8px;
        border: 1px solid #ced4da;
        padding: 10px;
    }

    #chat-form button {
        border-radius: 20px;
        padding: 10px 20px;
    }

    .custom-select {
        background-color: #fff;
        border: 2px solid #B1040D;
        color: #333;
        padding: 8px;
        border-radius: 8px;
        transition: border-color 0.3s ease;
        height: 3em;
    }

    .custom-select:focus {
        border-color: #D1160C;
        box-shadow: 0 0 5px rgba(209, 22, 12, 0.5);
        outline: none;
    }

    .custom-button {
        background-color: #B1040D;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .custom-button:hover {
        background-color: #D1160C;
    }
</style>
{% endblock %}
