
{% extends "core/base.html" %}

{% block title %}Active Orders{% endblock %}

{% block content %}
{% load order_tags %}
<link href="https://fonts.cdnfonts.com/css/segoe-ui-4" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<div class="claim-box">
    <div class="claim-button">
        <div class="request-details">
            <h2>ДЕТАЛИ ЗАЯВОК</h2>
            <div class="detail">
                <p class="detail-title">Отправитель:</p>
                <p class="detail-value">{{ order.user.username }}</p>
            </div>
            <div class="detail">
                <p class="detail-title">Корпус:</p>
                <p class="detail-value">{{ order.get_building_display }}</p>
            </div>
            <div class="detail">
                <p class="detail-title">Дата:</p>
                <p class="detail-value">{{ order.created_at|date:"d M Y" }}</p>
            </div>
            <div class="detail">
                <p class="detail-title">Тип проблемы:</p>
                <p class="detail-value">{{ order.problem_type }}</p>
            </div>
            <div class="detail">
                <p class="detail-title">Описание:</p>
                <p class="detail-value">{{ order.description }}</p>
            </div>
            <div class="detail">
                <p class="detail-title">Срочность:</p>
                <p class="detail-value">{{ order.get_urgency_display }}</p>
            </div>
            <div class="detail">
                <p class="detail-title">Статус:</p>
                {% if can_modify_status %}
                <a href="#" data-toggle="modal" data-target="#statusModal">
                    <p class="detail-value accepted">{{ order.get_status_display }}</p>
                </a>
                {% else %}
                <p class="detail-value accepted">{{ order.get_status_display }}</p>
                {% endif %}
            </div>
            {% if order.comments %}
            <div class="detail">
                <p class="detail-title">Комментарий:</p>
                <p class="detail-value">{{ order.comments }}</p>
            </div>
            {% endif %}
            {% if order.document %}
            <div class="detail">
                <p class="detail-title">Скачать файл:</p>
                <p class="detail-value"><a href="{{ order.document.url }}" download>СКАЧАТЬ ДОКУМЕНТ</a></p>
            </div>
            {% endif %}
            <!-- Modal -->
            <div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="statusModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="statusModalLabel">Обновить статус заявки</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="post" class="form-group">
                                {% csrf_token %}
                                <label for="id_status">Изменить статус:</label>
                                <select name="status" id="id_status" class="form-control">
                                    {% for choice in form.status.field.choices %}
                                    <option value="{{ choice.0 }}" {% if order.status == choice.0 %}selected{% endif %}>
                                        {{ choice.1 }}
                                    </option>
                                    {% endfor %}
                                </select>
                                <label for="id_comment">Комментарий:</label>
                                <textarea name="comment" id="id_comment" class="form-control">{% if form.comment.value %}{{ form.comment.value }}{% endif %}</textarea>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                                    <button type="submit" class="btn btn-primary">Обновить статус</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
    body {
        font-family: 'Segoe UI', sans-serif;
        padding: 0;
        margin: 0;
        background-color: #E8E8E8;
        font-weight: bold;
    }

    .topnav {
        background-color: #B1040D;
        width: 100%;
        height: 5em;
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
    }

    /* Style the links inside the navigation bar */
    .topnav a {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 20px;
        margin-right: 30px;
        color: #ffffff;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
    }

    .topnav img {
        width: 15px;
        height: auto;
    }

    .claim-box {
        display: flex;
        justify-content: center;
        z-index: 100;
        left: 44%;
        text-align: center;
        margin-top: 100px;
    }

    .claim-box a {
        z-index: 100;
    }

    .claim-button {
        display: flex;
        justify-content: center;
        width: 150em;
        height: 70em;
        background-color: rgba(255, 255, 255, 0.27);
        border-radius: 30px;
        padding: 10px;
        font-size: 13px;
    }

    .claim-button h3 {
        color: #5e5e5e;
        font-weight: 600;
        font-size: 15px;
    }

    .microsoft-icon {
        width: 17px;
        height: auto;
        padding: 8px;
    }

    .text-sign {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .table-container {
        /* margin: 20px auto; */
        width: 100%;
        padding: 20px;
        background-color: #f8f9fa; /* Основной фон */
        border-radius: 60px;
    }

    h2 {
        font-size: 35px;
        text-align: center;
        font-weight: bold;
    }

    .table-wrapper {
        border-radius: 10px;
        overflow: hidden; /* Чтобы скругления были применены к содержимому */
    }

    .row {
        height: 80px;
        display: flex;
        border-radius: 10px 10px 10px 10px;
    }

    .cell {
        font-size: 20px;
        margin-top: 10px;
        flex: 1;
        padding: 10px;
        background-color: rgba(151, 151, 151, 0.1); /* Немного темнее основного фона */
        /* Линия */
        text-align: center;

    }

    .cell a {
        color: #B1040D;
    }

    .detail {
        display: flex;
        text-align: left;
        margin-bottom: 20px;
        font-size: 20px;
    }

    .detail-title {
        width: 150px; /* Фиксированная ширина для названия детали */
        font-weight: bold; /* Жирный текст */
    }

    .detail-value {
        flex: 1;
        text-align: left;
        margin-bottom: 20px;
        font-size: 20px;
    }

    .request-details {
        display: flex;
        flex-direction: column;
        background-color: #f9f9f9;
        padding: 40px;

        width: 100%;
        padding: 20px;
        background-color: #f8f9fa; /* Основной фон */
    }

    .detail {
        padding-left: 60px;
        text-align: left;
        margin-bottom: 20px;
        font-size: 20px;
    }

    .label {
        font-weight: bold;
        margin-right: 10px;
    }

    .value {
        color: #333;
    }

    .status {
        color: green; /* Зеленый цвет для принято */
    }

    .status.not-accepted {
        color: red; /* Красный цвет для не принято */
    }

    .detail-value.accepted {
        color: rgb(9, 229, 53); /* Красный цвет текста */
    }

    #bold {
        font-weight: bold;
    }
</style>
{% endblock %}
